@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    box-sizing:border-box;
}
.container{
    margin: auto;
    width: 1180px;
}
:root{
    --white: #ffffff;
    --roboto: 'Roboto', sans-serif;
    --red: #ed322d;
    --grey: #a8a8a8;
    --grey1: #404040;
    --grey2: #bebebe;
    --grey3: #5d5d5d;
    --violet: #eaafd6;
    --violet1: #c39fb7;
    --black: #000000;
}
/* header start  */
header{
    background-image: url(../img/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 130px 0 65px;
}
.logo-menu ul li{
    display:inline-block;
}
.logo-menu ul li a{
    font: 400 20px var(--roboto);
    letter-spacing: 0px;
    color: var(--white);
    text-decoration:none;
}
li.x-line {
    font: 400 20px var(--roboto);
    letter-spacing: 0px;
    width: 20px;
    color: #5e5e5e;
    text-align: center;
}
.logo-menu ul li a i{
    margin-left:16px;
    color: #cecece;
}
.h1-p{
    margin-top: 245px;
    display:flex;
    align-items:center;
    flex-direction:column;
}
.h1-p h1 {
    font: 700 73px var(--roboto);
    line-height: 71px;
    text-align: center;
}

.h1-p h1:nth-child(1) {
    color: var(--white);
}

.h1-p h1:nth-child(2) {
    color: var(--red);
}

.h1-p p:nth-child(3) {
    margin-top: 52px;
    width: 450px;
    font: 300 20px var(--roboto);
    letter-spacing: 0px;
    color: var(--grey);
    text-align: center;
}
.scroll p{
    font: 300 15px var(--roboto);
    letter-spacing: 2px;
    color: var(--grey);
    text-align: center;
    margin: 20px 0 95px 0;
}
.scroll i{
   font-size: 25px;
    color: var(--grey);
}
.scroll{
    margin-top:385px;
    display:flex;
    align-items:center;
    flex-direction:column;
}

/* GRAPH SECTION trart  */
.graph-section{
    background-color: #f8f8f8;
    background-image: url(../img/graph-bg.png);
    background-size: 700px;
    background-repeat: no-repeat;
}
.graph {
    display: flex;
    justify-content: space-between;
}
.gr-h1-p h1{
    font: 300 20px var(--roboto);
    line-height: 44px;
    color: #383838;
}
.gr-h1-p p{
    font: 300 14px var(--roboto);
    width: 270px;
    line-height: 21px;
    color: #7e7e7e;
}
.gr-h1-p{
    padding: 90px 0 0 230px;
}
.text h1 {
    font: 700 62px var(--roboto);
    line-height: 60px;
    color: var(--grey1);
    margin-top: 60px;
}
.text-video {
    width: 500px;
    display: flex;
    flex-direction: column;
}
span{
    color: var(--red);
}
.text hr{
    margin: 20px 0 20px 0;
    width: 34px;
    height: 2px;
    background-color: var(--grey2);
}
.text p {
    font: 300 14px var(--roboto);
    line-height: 20px;
    color: var(--grey3);
}
hr.hr2 {
    margin: 20px 0 20px 0;
    width: 500px;
    height: 1px;
    background-color: var(--grey2);
}
.video {
    display: flex;
    align-items: center;
    padding-bottom: 17px;
}
.video p {
    font: 300 14px var(--roboto);
    line-height: 20px;
    color: var(--grey3);
    padding-left: 20px;
}
.op-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.op-text h1{
    font: 700 72px var(--roboto);
    line-height: 70px;
    color: var(--grey1);
    padding-top: 160px;
}
.op-text hr{
    width: 34px;
    height: 2px;
    background-color: var(--grey2);
    margin: 20px 0 20px 0;
}
.op-text p{
    font: 250 24px var(--roboto);
    line-height: 37px;
    color: var(--grey3);
    text-align: center;
    padding-bottom: 70px;
}
.oooo div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.oooo{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.oooo div:nth-child(1){
    width: 187px;
    height: 187px;
    border-radius: 93px;
    background-color: #f5c92e;
    opacity: 90%;
    margin-left: -20px;
}
.oooo div:nth-child(2){
    width: 404px;
    height: 404px;
    border-radius: 202px;
    background-color: #5dd0eb;
    opacity: 90%;
    margin-left: -20px;
}
.oooo div:nth-child(3){
    width: 340px;
    height: 340px;
    border-radius: 170px;
    background-color: #3dbbaf;
    opacity: 90%;
    margin-left: -20px;
}
.oooo div:nth-child(4){
    width: 196px;
    height: 196px;
    border-radius: 98px;
    background-color: #ef666d;
    opacity: 90%;
}
.p-text-s{
    font: 400 24px var(--roboto);
    width: 150px;
    line-height: 32px;
    color: var(--white);
    text-align: center;
}
.o-text{
    display: flex;
    justify-content: space-between;
}
.o-text h1{
    font: 700 15px var(--roboto);
    line-height: 26px;
    color: var(--grey3);
    padding-bottom: 20px;
}
.o-text p{
    font: 300 15px var(--roboto);
    width: 242px;
    line-height: 26px;
    color: var(--grey3);
    padding-bottom: 145px;
}
/* services terms start  */
.services-terms{
    background-image: url(../img/services-terms-BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.st-text h1{
    font: 700 72px var(--roboto);
    line-height: 70px;
    color: var(--white);
    text-align: center;
    padding: 145px 0 68px 0;
}
.st-text p{
    font: 250 24px var(--roboto);
    line-height: 37px;
    color: var(--white);
    text-align: center;
    padding-bottom: 95px;
}
.box{
    display: flex;
}
.box-text h1{
    font: 400 25px var(--roboto);
    line-height: 36px;
    color: var(--violet);
    padding: 50px 0 10px 0;
}
.box-text p{
    font: 300 16px var(--roboto);
    letter-spacing: 0px;
    line-height: 24px;
    color: var(--violet1);
    padding-bottom: 50px;
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    background-color: #802c64;
}
.arrow i{
    font-size: 25px;
    color: #9a417c;
}
.box-text {
    display: flex;
    flex-direction: column;
    background-color: #7a225d;
    padding-left: 50px;
}
.box-text1 h1{
    font: 400 25px var(--roboto);
    line-height: 36px;
    color: var(--violet);
    padding: 50px 0 10px 0;
}
.box-text1 p{
    font: 300 16px var(--roboto);
    letter-spacing: 0px;
    line-height: 24px;
    color: var(--violet1);
    padding-bottom: 50px;
}
.arrow1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    background-color: #500c50;
}
.arrow1 i{
    font-size: 25px;
    color: #682852;
}
.box-text1 {
    display: flex;
    flex-direction: column;
    background-color: #480048;
    padding-left: 50px;
}
.box-text2 h1{
    font: 400 25px var(--roboto);
    line-height: 36px;
    color: var(--violet);
    padding: 50px 0 10px 0;
}
.box-text2 p{
    font: 300 16px var(--roboto);
    letter-spacing: 0px;
    line-height: 24px;
    color: var(--violet1);
    padding-bottom: 50px;
}
.arrow2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    background-color: #3a0c3a;
}
.arrow2 i{
    font-size: 25px;
    color: #601848;
}
.box-text2 {
    display: flex;
    flex-direction: column;
    background-color: #300030;
    padding-left: 50px;
}
.st-boxes{
    padding-bottom: 140px;
}
.logo-img {
    display: flex;
    justify-content: center;
    margin-bottom: -80px;
}
/* footer start  */
footer{
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: top;
}
.ft-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ft-head h1{
    font: 700 72px var(--roboto);
    line-height: 70px;
    color: var(--grey1);
    margin-left: -10px;
    padding: 160px 0 68px 0;
}
.ft-head span{
    color: var(--white);
}
.ft-head p{
    font: 250 24px var(--roboto);
    width: 600px;
    line-height: 37px;
    color: var(--black);
    text-align: center;
    padding-bottom: 60px;
}
.ft-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.form{
    width: 944px;
    background-color: var(--white);
    border: 1px solid #dfdfdf;
}
input {
    border: none;
    outline: none;
    color: var(--white);
    width: 485px;
    height: 40px;
    padding-left: 80px;
    display: inline-block;
    border-bottom: 2px solid #ebebeb;
    margin-top: 45px;
}
.ie{
    font: 300 14px var(--roboto);
    padding-left: 20px;
    line-height: 36px;
    color: var(--black);
}
textarea{
    border: none;
    border-bottom: 2px solid #ebebeb;
    width: 485px;
    height: 40px;
    font: 300 14px var(--roboto);
    color: black;
    resize: vertical;
    outline: none;
    padding: 10px 0 0 20px;
    margin-top: 45px;
}
textarea::placeholder{
    font: 300 14px var(--roboto);
    color: #8e8e8e;
}
form button{
    width: 239px;
    height: 62px;
    background-color: var(--white);
    border: 2px solid #878787;
    font: 400 17px var(--roboto);
    line-height: 36px;
    color: #3c3c3c;
    margin: 80px 0 89px 0;
}
/* end start  */
.end ul {
    display: flex;
    justify-content: center;
}
.end ul li {
    width: 50px;
    height: 50px;
    border: 1px solid #acacac;
    display: inline-block;
    margin: 70px 0 58px 11px;
}
.end i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #8a8a8a;
}
.end p{
    font: 300 15px var(--roboto);
    line-height: 36px;
    color: #969696;
    text-align: center;
}
.rh{
    padding: 65px 0 77px 0 ;
}
.rvn{
    font: 700 15px var(--roboto);
    color: var(--red);
}
.end p a{
    text-decoration: none;
}
/* arrow 2 */
.arrow-down {
    display: none;
}

.arrow-down1 {
    display: none;
}

.arrow-down2 {
    display: none;
}

